#uploaded files
uploads/

# backups
backups/

#config files
src/config/production.config.js
src/config/development.config.js
src/config/local.config.js

node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*





